.square {
  height: 290px;
  width: 190px;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}
.comp1 {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  align-self: flex-start;
}
.comp2 {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  align-self: flex-end;
}
